@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
    
}

@foreach (UserModel Stars in Model.Stars){
<tr>
        @{
            var photopath = "~/images/" + (Stars.PhotoCode ?? "noimage.jpg");
        }
        <span>
        <div class="box3">
        <a asp-page="/EdytujGwiazde" asp-route-Id="@Stars.Id" >@Stars.Name</a>
        </div>
        <div class="box4">
         <a asp-page="/EdytujGwiazde" asp-route-Id="@Stars.Id" style="color:white">@Stars.Description</a>

         </div>
         <hr/>
    </span>
        
       <img class="imageglowna" src="@photopath" asp-append-version="true"/>
    
</tr>
}
<button class="edycja">
    <a asp-page="/dodajgwiazde">Nowy</a>
    </button>
